<template>
  <div>
    <h1>{{ title }}</h1>
    <div class="bg-warning result">
      <p v-if="show">RESULT</p>
      <p v-else>Submit the SuperForm, please</p>
    </div>
    <button class="btn btn-danger">Clear</button>
  </div>
</template>

<script>
  export default {
    name: 'Result',
    props: {
      show: Boolean
    },
    data () {
      return {
        title: 'Result'
      }
    },
    computed: {

    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  button{margin-top: 15px}
  .result{padding: 10px}
</style>
