<template>
  <div>
    <form>
      <h1>{{ title }}</h1>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Name" v-model="userName">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Surname" v-model="userSurname">
      </div>
      <textarea class="form-control" rows="3" placeholder="About me" v-model="userText"></textarea>
      <button type="submit" class="btn btn-success" v-bind:disabled=isDisabled v-on:click.prevent="submitSuperForm">Save</button>
    </form>
    <!--<div v-if="showResult"><br>result</div>-->
    <!--<div v-else><br>submit form</div>-->
  </div>
</template>

<script>
export default {
  name: 'SuperForm',
  data () {
    return {
      title: 'Super form',
      userName: '',
      userSurname: '',
      userText: '',
      showResult: true
    }
  },
  methods: {
    submitSuperForm: function () {
      this.$emit("showRes", this.showResult);
    }
  },
  computed: {
      isDisabled: function () {
        return !(this.userName.length>0&&this.userSurname.length>0&&this.userText.length>0)
      }
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  button{margin-top: 15px}
</style>
