<template>
  <div id="app">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <SuperForm @showRes="showR"/>
        </div>
        <div class="col-md-6">
          <Result :show="isShownRes"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SuperForm from './components/SuperForm'
import Result from './components/Result'

export default {
  name: 'app',
  components: {
    SuperForm,
    Result
  },
  data() {
      return {
        isShownRes: false
      }
  },
  methods: {
    showR(showResult){
      this.isShownRes = showResult;
    }
  }
}
</script>

<style>
#app {
  margin-top: 60px;
}
</style>
